<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <title>Microkernel</title>
</head>
<body>
     <div class="container mt-4">
           <% if(filename == ''){ %>
          <h1 class="text-center text-primary">Make your card!</h1>
          <% } else{ %>
          <h1 class="text-center text-primary">Send your card!</h1>
          <% } %>
          <h3 class="text-center" style='color: <%=color%>'><%=color%></h3>

          <div class="row justify-content-center">
               <% if(filename == ''){ %>
               <div class="col-md-6">
                    <form action="/convert" method="POST">
                         <div class="form-group">
                              <button type="button" class="btn btn-outline-info btn-block" onclick="generate()">Generar mensaje predeterminado</button>
                         </div>
                         
                         <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                              <label class="btn btn-secondary">
                                   <input type="radio" name="template" id="none_template" value="none" checked> Ninguno
                              </label>

                              <label class="btn btn-secondary">
                                   <input type="radio" name="template" value="heart">
                                   <img src="img/heart.png" width="25">
                              </label>

                              <label class="btn btn-secondary">
                                   <input type="radio" name="template" value="smile">
                                   <img src="img/smile.png" width="25">
                              </label>
                         </div>

                         <div class="form-group">
                              <label for="title">Títutlo de la Tarjeta</label>
                              <input type="text" name="title" class="form-control text-center" id="title" placeholder="Título">
                         </div>

                         <div class="form-group">
                              <label for="bodyText">Cuerpo del texto</label>
                              <textarea class="form-control" name="bodyText" id="bodyText" cols="74" rows="10"></textarea>
                         </div>
                         <button type="submit" value="Enviar" class="btn btn-primary btn-block">Convertir</button>
                    </form>
               </div>
                <%} if(filename != ''){ %>
               <div id="pdf-viewer" class="col-md-6">
                    <embed class="w-100 h-100" src="<%=filename%>.pdf" type="application/pdf"></embed>

                    <form action="/send_email" method="POST">
                         <div class="form-group">
                              <label for="title">Destinatrio</label>
                              <input type="email" name="email" class="form-control" id="email" placeholder="Correo electrónico">
                         </div>
                         
                         <button type="submit" value="Enviar" class="btn btn-primary btn-block" >Enviar</button>
                    </form>
               </div>
               <%}%>
          </div>

          
     </div>
     
     <script src="../js/generate.js"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
</body>
</html>